/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root {
    --bgcolorBody: #2d2d2d;
    --bgcolorNav: #141414;
    --font: "Rubik", sans-serif;
}

.navbar {
  padding: 2rem;
  background-color: var(--bgcolorNav);
  font-size: 25px;
}

body {
  font-family: var(--font) !important;
  background-color: var(--bgcolorBody) !important;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.navbar-brand{
  font-size: 35px !important;
}

/* Responsive */

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

.carousel-inner {
  margin-top: 10px;
}

/* Responsive end */

.conciertos-header, .temas-header {
  color: white;
  font-size: 50px; /* TEMPORAL */
}

.conciertos-header {
  margin-top: 5px;
}

.introduccion {
  font-size: 10px;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: white; }
  50% { color: grey; }
  75% { color: black;}
  100% { color: grey; }
}

a:visited, a:hover, a:link {
  color: white;
  text-decoration: none; /* no underline */
}